#tableOverflow {
    overflow-x: auto;
    overflow-y: auto;
   }
   
   i {
    border: solid #1a2a39;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
   }
   
   .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
   }
   
   #titleheader {
    fontWeight: 600;
   }
   
   #textcolor {
    color: #30014e;
   }
   
   #test-table-xls-button {
    float: right;
   }
   
   #menucol {
    /* background: linear-gradient(to right bottom, #560c81, #f13492) rgb(179, 229, 252);
    */
    /*sandiya* menu body/ /* background: linear-gradient(to right bottom, #573192, #73dede) rgb(179, 229, 252);
    background: linear-gradient(to right bottom, rgb(85, 12, 129), rgb(101, 239, 234)) rgb(179, 229, 252);*/
   }
   
   #checkInOut {
    /* background-Color: #5d033b; */
    text-align: -webkit-center;
    font-size: 17px;
    /*padding: 50px 0px 50px 0;*/
   }
   
   #colcheckIn {
    padding: 50px 0 50px 0px;
   }
   
   #bgheader {
    /* background-color: #1c313a; */
    background-color: #5a0d7c;
    /* padding: 2% 0%; */
    /* padding-bottom: 5px;
    */
   }
   
   #Employeemenu {
    /* background-color: #00bbb0;
    */
    /* background-color: #69db84;
    */
    /* background-color: #6ee68a; */
    background-color: #edf5e1;
    color: white;
    padding: 10px 10px;
   }
   
 /*   #horMenunew {
    /* background-color: #26425c!important; *
    background-color: #26425c!important;
   }
    */
   #containerhead {
    background-color: #edf5e1;
    color: white;
   }
   
   #containerbody {
    background-color: rgb(242, 242, 242);
    color: rgb(35, 47, 60);
   }
   
   #containerbodyjumbo {
    background-color: #a91da000;
   }
   
   #tabletextcol {
    color: black;
   }
   
   #backbutton {
    background-color: rgb(105, 219, 132)!important;
   }
   
   #backbtn {
    color: white;
    background-color: transparent;
    color: white;
   }
   
   /* menuheader*/
   
   #headerIcon {
    margin-left: 2%;
    padding-left: 7%;
    background-image: url("./image/I48.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   }
   
   #headerLogout {
    margin-left: 2%;
    padding-left: 7%;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
   }
   
   #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 25px;
   }
   
   #checkIn {
    background-image: url("./image/CheckIn1.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    cursor: pointer;
   }
   
   #checkOut {
    background-image: url("./image/checkout.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    cursor: pointer;
   }
   
   #imgwidth {
    padding: 4vw;
    cursor: pointer;
   }
   
   #imgwidth3 {
    background-size: 80px 80px;
   }
   
   /* #idmenuiconimage{
    max-width: 50%!important;
   
   } */
   
   /* .img-responsive {
    max-width: 60%!important;;
   } */
   
   /* 
   @media (min-device-height: 580px) and (max-device-height: 812px) {
    .img-responsive {
    max-width: 90%!important;
    } 
   
   } */
   
   @media only screen and (min-device-width: 320px) and (min-device-height: 480px) {
    #headerIcon {
    margin-left: 2%;
    padding-left: 7%;
    background-image: url("./image/tictokn1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 25px;
    }
    #headerLogout {
    margin-left: 2%;
    padding-left: 3%;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    left: 87%!important;
    }
    .img-responsive {
    display: block;
    width: 80%!important;
    height: auto;
    }
    #imgwidth {
    padding: 0vw;
    cursor: pointer;
    }
   }
   
   @media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
    .img-responsive {
    display: block;
    width: 100%!important;
    height: auto;
    }
    #imgwidth {
    padding: 2vw;
    cursor: pointer;
    }
   }
   
   @media only screen and (min-device-width: 375px) and (min-device-height: 812px) {
    .img-responsive {
    display: block;
    width: 85%!important;
    height: auto;
    padding-bottom: 16px;
    padding-top: 46px;
    }
    #imgwidth {
    padding: 0vw;
    cursor: pointer;
    }
   }
   
   @media only screen and (min-device-width: 768px) and (min-device-height: 1024px) {
    .navbar.navbar-inverse {
    padding-bottom: 20px;
    }
    .container-fluid.justify-content-center {
    padding-top: 15px;
    }
    #headerIcon {
    margin-left: 2%;
    padding-left: 250%;
    background-image: url("./image/tictokn1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 25px;
    }
    #headerLogout {
    margin-left: 2%;
    padding: 11px;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    left: 87%!important;
    }
    #menulogoutbtn {
    margin: 2px 28px 0px 0px;
    padding: 10px 14px 12px 0px;
    background-color: #677785;
    }
    #menu1 {
    float: right;
    margin-top: 15%;
    }
    .img-responsive {
    display: block;
    width: 90%!important;
    height: auto;
    }
    #imgwidth {
    padding: 3vw;
    cursor: pointer;
    }
    
   }
   
   /* @media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
    .img-responsive
    { 
    display: block;
    width: 28vw!important;
    height: auto;
    }
    #imgwidth {
    padding: 2vw;
    cursor: pointer;
    }
   } */
   
   @media only screen and (min-device-width: 360px) and (min-device-height: 640px) {
    .img-responsive {
    display: block;
    width: 28vw;
    height: auto;
    }
   }
   
   @media (min-device-width: 1280px) and (max-device-width: 2800px) {
    .img-responsive {
    display: block;
    width: 25vw;
    height: auto;
    }
    #imgwidth {
    padding: 1.2vw;
    cursor: pointer;
    }
   }
   
   @media (min-device-width: 1280px) and (max-device-height: 1500px) {
    .img-responsive {
        
    /*max-width: 30%!important;
        changes by jeeva
    */
    max-width: 30%!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    }
   /* changes by jeeva
    */
    #rep-img-responsive{
        max-width: 20%!important;
    }
   }
   
   @media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
    /* Styles padding-bottom: 5px;*/
    #menuheadercontainerfluid {
    /* margin-bottom: -2px; */
    }
    #menu1 {
    float: right;
    margin-top: 2.5%;
    /* margin-Top: -73px;
    margin-bottom: -50px; */
    }
    .open>.dropdown-menu {
    display: grid!important;
    }
    #menulogoutbtn {
    margin: 0px 11px 0px 2px;
    padding: 10px 14px 12px 0px;
    background-color: #677785;
    }
   }
   
   @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #menuheadercontainerfluid {
    /* margin-bottom: 20px; */
    }
    .open>.dropdown-menu {
    display: grid!important;
    margin: -6px 10px 2px 2px;
    padding: 10px 6px 13px 0px;
    }
    
    .navbar.navbar-inverse {
    padding-bottom: 20px;
    }
    .container-fluid.justify-content-center {
    padding-top: 15px;
    }
    #headerIcon {
    margin-left: 2%;
    padding-left: 250%;
    background-image: url("./image/tictokn1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 25px;
    }
    #headerLogout {
    margin-left: 2%;
    padding: 11px;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    left: 87%!important;
    }
    #menulogoutbtn {
    margin: 2px 28px 0px 0px;
    padding: 10px 14px 12px 0px;
    background-color: #677785;
    }
    #menu1 {
    float: right;
    margin-top: 15%;
    }
    .img-responsive {
    display: block;
    width: 75%!important;
    height: auto;
    }
    #imgwidth {
    padding: 3vw;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 25px;
    }
   
   }
   @media only screen and (min-device-width: 1024px) and (max-device-width: 1824px) {
    #menuheadercontainerfluid {
    /* margin-bottom: 20px; */
    }
    .open>.dropdown-menu {
    display: grid!important;
    margin: -6px 10px 2px 2px;
    padding: 10px 6px 13px 0px;
    }
    
    .navbar.navbar-inverse {
    padding-bottom: 20px;
    }
    .container-fluid.justify-content-center {
    padding-top: 15px;
    }
    /*jevva edit*/
    #headerIcon {
    margin-left: 2%;
    padding-left: 250%;
    background-image: url("./image/tictokn1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 25px;
    }
    #headerLogout {
    margin-left: 2%;
    padding: 10px;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    
    left: 87%!important;
    }
    #menulogoutbtn {
    margin: 0px 0px 0px 0px;
    padding: 10px 14px 12px 0px;
    background-color: #677785;
    }
    #menu1 {
    background-image: url("./image/power1.png");
    float: right;
    margin: 10px;
    }
    .img-responsive {
    display: block;
    width: 80%!important;
    height: auto;
    padding-bottom: 30px;
    padding-top: 40px;
    }
    #imgwidth {
        /*changes by jeeva
    padding: 1.25vw;*/
    padding: 1.25vw; 
    cursor: pointer;
    }
    #repimgwidth {
        /*changes by jeeva
    padding: 1.25vw;*/
    padding: 5px; 
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 25px;
    }
   
   }
   
   .navbar.navbar-default {
    background-Color: #ffffff00;
   }
   
   @media only screen and (min-device-width: 768px) {
    #employeeidlabel {
    width: 250px!important;
    }
    #employeeId {
    margin-left: 0px!important;
    width: 300px!important;
    margin-top: 0px!important;
    margin-bottom: 10px!important;
    }
   }
   
   /* @media only screen and (min-device-width: 1368px) and (min-device-height: 800px) {
    #imgwidth {
    padding: 1vw;
    cursor: pointer;
    }
    .navbar.navbar-inverse {
    padding-bottom: 20px;
    }
    .container-fluid.justify-content-center {
    padding-top: 15px;
    }
    #headerIcon {
    margin-left: 2%;
    padding-left: 250%;
    background-image: url("./image/tictokn1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    #headerName {
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 25px;
    }
    #headerLogout {
    margin-left: 2%;
    padding-left: 7%;
    background-image: url("./image/power1.png");
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    left: 87%!important;
    }
    #menulogoutbtn {
    margin: 2px 28px 0px 0px;
    padding: 10px 14px 12px 0px;
    background-color: #677785;
    }
    #menu1 {
    float: right;
    margin-top: 15%;
    }
    .img-responsive {
    display: block;
    width: 90%!important;
    height: auto;
    }
   
   
   } */
   
   @media only screen and (min-device-width: 1024px) and (max-device-width: 1824px) {
    #employeeidlabel {
    width: 400px!important;
    }
    #employeeId {
    margin-left: 0px!important;
    width: 300px!important;
    margin-top: 0px!important;
    margin-bottom: 10px!important;
    }
   }
   
   
   /* 
   @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #imgwidth {
    max-width: 50%!important;
    padding: 24px;
    cursor: pointer;
    }
    .img-responsive {
    max-width: 52%!important;
    }
    #companyname {
    font-size: 45px;
    }
   } */
   
   /* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .img-responsive {
    max-width: 90%!important;
    }
   } */
   
   #AttendancecolcheckIn {
    background-image: url("./image/t1.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #ChartcolcheckIn {
    background-image: url("./image/t2.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #MaintenancecolcheckIn {
    background-image: url("./image/t3.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #ReportcolcheckIn {
    background-image: url("./image/t4.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #AttendanceRegcolcheckIn {
    background-image: url("./image/t5.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #TaskMappingcolcheckIn {
    background-image: url("./image/t6.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #LeaveManagementcolcheckIn {
    background-image: url("./image/t7.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
   }
   
   #Attendancecolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   #Chartcolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   #Maintenancecolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   #Reportcolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   #AttendanceRegcolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   #TaskMappingcolstyle {
    padding: 150px 62px 18px 87px;
   }
   
   @media only screen and (min-device-width: 768px) and (max-device-width: 1824px) {
    #AttendancecolcheckIn {
    background-image: url("./image/t1.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #ChartcolcheckIn {
    background-image: url("./image/t2.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #MaintenancecolcheckIn {
    background-image: url("./image/t3.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #ReportcolcheckIn {
    background-image: url("./image/t4.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #AttendanceRegcolcheckIn {
    background-image: url("./image/t5.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #TaskMappingcolcheckIn {
    background-image: url("./image/t6.png");
    /* background-size: 180px 180px; */
    background-size: contain;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 35px 100px 35px;
    cursor: pointer;
    }
    #LeaveManagementcolcheckIn {
    background-image: url("./image/t7.png");
    background-size: 180px 180px;
    /* background-size: contain; */
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 35px 35px 35px;
    cursor: pointer;
    }
   }
   
   @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    #AttendanceRegcolstyle {
    background-image: url("./image/AttendanceReg.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 180px 0px 40px 6px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
    background-position-x: 23px;
    word-wrap: break-word;
    }
    #TaskMappingcolstyle {
    background-image: url("./image/t6.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 0px 35px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
    background-position-x: 32px;
    word-wrap: break-word;
    }
   }
   
   .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
   }
   
   .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
   }
   
   .react-confirm-alert {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
   }
   
   .react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
   }
   
   .react-confirm-alert>h1 {
    margin-top: 0;
    font-size: 30px;
   }
   
   .react-confirm-alert>h3 {
    margin: 0;
    font-size: 16px;
    color: red;
   }
   
   .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
   }
   
   .react-confirm-alert-button-group>button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
   }
   
   @-webkit-keyframes react-confirm-alert-fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
   }
   
   @-moz-keyframes react-confirm-alert-fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
   }
   
   @-o-keyframes react-confirm-alert-fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
   }
   
   @keyframes react-confirm-alert-fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
   }
   
   #ReportMenucolstyle {
    background-Color: white;
    padding: 88px 90px;
    text-align: left;
    font-size: 17px;
    width: 50%;
    height: 70px;
    /* border-bottom-color: ; */
   }
   
   /*#Dailycolstyle {
    background-Color: white;
    padding: 18px 18px;
    padding-left: 55px;
    text-align: left;
    font-size: 17px;
    border-bottom-color: ;
    background-image: url("./image/Report1.jpg");
    background-size: 67px 54px;
    background-repeat: no-repeat;
    color: black;
    text-decoration: none;
   }
   
   #Dailycolstyle:hover {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    color: black;
    text-decoration: none;
    padding: 18px 18px;
    padding-left: 55px;
    text-align: left;
    font-size: 17px;
    border-bottom-color: ;
    background-image: url("./image/Report1.jpg");
    background-size: 67px 54px;
    background-repeat: no-repeat;
   }
   */
   
   #Dailycolstyle {
    background-image: url("./image/Report1.jpg");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 45px 35px 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
   }
   
   #Monthlycolstyle {
    background-image: url("./image/PeriodReport.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 8px 35px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
   }
   
   #Periodcolstyle {
    background-image: url("./image/PeriodReport1.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 45px 35px 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
   }
   
   #Maincolstyle {
    background-image: url("./image/Maintenance.png");
    background-size: 80px 80px;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 8px 35px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 22px;
   }
   
   .routing-container {
    height: 100%;
    width: 100%;
   }
   
   #mainpagebody {
    width: 100%;
   }
   
   .mainpage-container {
    height: auto;
    width: 100%;
   }
   
   .header {
    height: 100%;
    width: 100%;
    background-color: #00BCD4;
   }
   
   #rowid {
    height: 100%;
   }
   
   .header.navbar-brand {
    width: 55%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   #menubarid {
    display: block!important;
    background-color: #003333;
   }
   
   #neertitle {
    background-image: url("./image/tictock.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40%;
    color: black;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Arial;
    font-size: 25px;
    text-decoration: none;
   }
   
   #usernameidright {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    display: flex;
    align-items: center;
    padding: 0px !important;
    right: 0 !important;
   }
   /* 
   @media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .open>.dropdown-menu {
    display: block;
    }
    #menu1 {
    float: right;
    margin-top: 2.5%;
    /* margin-Top: 0px; *
    }
    #logoheader {
    float: left;
    background-image: url("./image/tictokn.png");
    background-size: 43px 43px;
    padding: 2% 5%;
    background-Color: #ffffff00;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /*text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px; *
    }
   } */
   
   .navbar.navbar-default {
    background-Color: #ffffff00;
   }
   
   .routing-container {
    height: 100%;
    width: 100%;
   }
   
   #mainpagebody {
    width: 100%;
   }
   
   .mainpage-container {
    height: auto;
    width: 100%;
   }
   
   .header {
    height: 100%;
    width: 100%;
    background-color: #00BCD4;
   }
   
   #rowid {
    height: 100%;
   }
   
   .header.navbar-brand {
    width: 55%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   #menubarid {
    display: block!important;
    background-color: #003333;
   }
   
   #neertitle {
    background-image: url("./image/tictock.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40%;
    color: black;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Arial;
    font-size: 25px;
    text-decoration: none;
   }
   
   #usernameidright {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    display: flex;
    align-items: center;
    padding: 0px !important;
    right: 0 !important;
   }
   
   /* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles 
    #menu1 {
    margin-Top: -73px;
    }
    .open>.dropdown-menu {
    display: grid;
    }
   } */
   
   
   
   #EmployeeId {
    width: 50%!important;
    margin-left: 5%!important;
   }
   
   #employeeidgroup {
    display: inline-block!important;
    width: 50%!important;
    margin-left: 5%!important;
   }
   
   /* 
    #Employeemenu {
    background-color: #4e067d;
    color: white;
    padding: 10px 10px;
    }
    #horMenunew{
    background-color: #8811d6;
    }
    */
   
   .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
   }
   
   .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
   }
   
   .react-confirm-alert {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
   }
   
   .react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
   }
   
   .react-confirm-alert>h1 {
    margin-top: 0;
    font-size: 30px;
   }
   
   .react-confirm-alert>h3 {
    margin: 0;
    font-size: 16px;
    color: red;
   }
   
   .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
   }
   
   .react-confirm-alert-button-group>button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
   }
   

   
/*    .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
   }
   
   .modal-body {
    padding: 2px 16px;
   }
   
   .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
   }
    */
   
   #employeeidgroup {
    display: inline-block!important;
    width: 50%!important;
    margin-left: 5%!important;
   }
   