.verticalTableHeader {
  text-align:center;
/*  white-space:nowrap; */
  transform-origin:50% 50%;
  transform: rotate(0deg);
  border: 1px solid #ccc;
  

}

.vertical-text {
transform: rotate(  0deg);
transform-origin: left top 0;
}

tr.spaceUnder>th {
  padding-bottom: 15px;
}

.BasicPay{
  width:60px;
}

td.payslipdata{
  padding: 0px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;

  
}

/*  .jeeva{
  background-color:#ffffff;
  margin-top: -5px!important;
  margin-bottom: -3px!important;
  width: 100%;
  padding: 10px;
 /*  //border: 1px solid #ccc; *
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  border:3px solid red;
}
  */
input[type=text]{
  margin-top: 0px!important;
  margin-bottom: -3px!important;
  padding: 10px;
  width:100%;
  
} 
.inputreduction{
  background-color:#ffffff;

}
.inputallowences{
  background-color:#ffffff;

}
.spaceUnder{
  padding: 10px;
}